<header class="header">
    <div class="logo">
      <img src="/images/logo.png" alt="Home Service Logo" />
    </div>

     <!-- Hamburger icon -->
  <div class="hamburger" id="hamburger">
    <span></span>
    <span></span>
    <span></span>
  </div>

     <nav class="nav-menu" id="nav-menu">
    <ul>
      <li><a href="#services">Services</a></li>
      <li><a href="#reviews">Reviews</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>

  <script>
    import "../scripts/hamburger.js";
  </script>

</header>
